.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects, #contact {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.card-img, .card-img-top-project {
  height: 150px;
}

.card-body-project {
  height: 175px;
}